page-about {

    .my-about {
        padding: 10px;
    }

    .about-icon {
        width: 95px;
        height: 95px;
        margin-bottom: 15px;
    }

    .bottom-details {
        bottom: 0px;
        margin-bottom: 10px;
        position: absolute;
        font-size: 11px;
        color: darkgray;
    }

}
