# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

src/app/firebaseAppData.ts
individualanteile/KochsiekAdrian/mobileFramework7/platforms
individualanteile/KochsiekAdrian/mobileFramework7/plugins
individualanteile/KochsiekAdrian/ReactNative_AwesomeProject/node_modules
individualanteile/EntenmannManuel/reactNativeFirstApp/AwesomeProject/node_modules
individualanteile/EntenmannManuel/MyApp/platforms
individualanteile/EntenmannManuel/MyApp/plugins
individualanteile/EntenmannManuel/framework7firstApp/node_modules
individualanteile/EntenmannManuel/framework7firstApp/platforms
individualanteile/EntenmannManuel/framework7firstApp/plugins
individualanteile/HoAndre/frameworks7App/platforms
individualanteile/HoAndre/frameworks7App/plugins



.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
