<!--
  Generated template for the SelectCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kategorien</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let categoryItem of dataCategoryy">
      <button ion-button *ngIf="beer==false" class="cubic-button column-100" color="danger" (click)="approveCategory('beer')" icon-only item-left large><ion-icon name="beer"></ion-icon></button>
      <button ion-button *ngIf="beer==true" class="cubic-button column-100" color="secondary" (click)="disableCategory('beer')" icon-only item-left large><ion-icon name="beer"></ion-icon></button>
    </div>
  </ion-list>

  <button ion-button *ngIf="beer==false" class="cubic-button column-100" color="danger" (click)="approveCategory('beer')" icon-only item-left large><ion-icon name="beer"></ion-icon></button>
  <button ion-button *ngIf="beer==true" class="cubic-button column-100" color="secondary" (click)="disableCategory('beer')" icon-only item-left large><ion-icon name="beer"></ion-icon></button>
  <button ion-button *ngIf="icecream==false" class="cubic-button column-100" color="danger" (click)="approveCategory('icecream')" icon-only item-left large><ion-icon name="ice-cream"></ion-icon></button>
  <button ion-button *ngIf="icecream==true" class="cubic-button column-100" color="secondary" (click)="disableCategory('icecream')" icon-only item-left large><ion-icon name="ice-cream"></ion-icon></button>
  <button ion-button *ngIf="sports==false" class="cubic-button column-100" color="danger" (click)="approveCategory('sports')" icon-only item-right large><ion-icon name="football"></ion-icon></button>
  <button ion-button *ngIf="sports==true" class="cubic-button column-100" color="secondary" (click)="disableCategory('sports')" icon-only item-right large><ion-icon name="football"></ion-icon></button>
  <!-- cinema recording, outdoor sunny, party wine, coffee cafe, food pizza -->


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
